.footer{
   display: flex;
   justify-content: space-between;
   background-color: #000;
   color: #fff;

   padding: 28px;
   box-sizing: border-box;

   font-size: 12px;
   text-transform: uppercase;

   @include small{
      padding: 28px 40px;
      padding-top: 82px;
   }

   &__el{
      letter-spacing: 1px;
      @include small{
         &:hover{
            font-weight: 700;
            margin-left: -1px;

            &:last-child{
               margin-right: -2px;
            }
         }
      }
   }
}