.projet{

   @include meduim{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        max-width: 1000px;
        margin: 0 auto;
   }

   &__el{
      margin-top: 28px;

     &:before{
      content: attr(data-order);
      display: flex;

      color: #fff;
      font-size: 72px;
      font-weight: 700;
      line-height: 1.1;
     }

     &:nth-child(2){

      &:before{
         flex-direction: row-reverse;

         @include meduim{
            flex-direction: row;
         }
      }
     }
   }
}