@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {

   .header{
      background-image: url(../assets/images/bg-header@2x.jpg);
   }

   .app{
      background-image: url(../assets/images/bg-1@2x.jpg);
   }

   .apropos{
      background-image: url(../assets/images/bg-header@2x.jpg);
   }
}